body {
  background-color: gray;
}

.App {
  text-align: center;
}

.Board {
  margin: auto;
  margin-top: 10%;
  border: 0;
}

.Board, table, tbody, tr, td {
  border: 3px solid;
  border-collapse:collapse;
  width: 200px;
  height: 50px;
}

td:hover {
  background-color: green;
}

#select-circle:hover {
  transform:scale(1.2);
}

#select-cross:hover {
  transform:scale(1.2);
}